.nav_ul_container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background: transparent;
  color: white;
}

.nav_ul_menu_container {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font: bold;
  font-size: large;
}
.nav_li_here {
  padding: 2px;
  list-style: none;
  margin-right: 75px;
}

.nav_button_connect {
  background-color: rgba(16,0,255,1);
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
}
.nav_button_connect:hover {
  background-color: rgba(255,0,0,1);
}





@media screen and (max-width: 1700px) {
  .nav_ul_container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: transparent;
    color: white;
  }
  
  .nav_ul_menu_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font: bold;
    font-size: 15px;
  }
  .nav_li_here {
    padding: 2px;
    list-style: none;
    margin-right: 0px;
  }
  
  .nav_button_connect {
    background-color: rgba(16,0,255,1);
    color: white;
    font-weight: bold;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
  }
  .nav_button_connect:hover {
    background-color: rgba(255,0,0,1);
  }
}