.App {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(16,0,255,1) 0%, rgba(255,0,0,1) 100%);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(16,0,255,1);
  border-radius: 10px;
}